/* Hero Section */
.heroContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: calc(100vh - 200px);
  padding: 0 2%;
  position: relative;
  z-index: 1;
}

.bodyLeft {
  margin-top: 10%;
  margin-left: 2%;
  float: left;
}

.bodyLeft h1 {
  font-size: 55px;
  color: #ffff;
}

.fixBoxSize {
  width: 40vw;
  height: auto;
}

.coloringArshad {
  color: var(--arshad-color, #00ff00);
}

.autoType {
  color: var(--arshad-color, #00ff00);
}

.bodyRight {
  margin-top: 10%;
  margin-right: 4%;
}

.bodyRight img {
  height: 400px;
  width: 400px;
  border-radius: 10%;
  float: right;
  object-fit: cover;
}

.socialMedia {
  margin-top: 2.5%;
  display: flex;
  gap: 20px;
  align-items: center;
}

.socialMedia img {
  height: 5vw;
  min-height: 40px;
  max-height: 60px;
  width: auto;
  transition: transform 0.3s ease;
}

.socialMedia img:hover {
  transform: scale(1.1);
}

.bigImg {
  display: inline-block;
}

/* Mobile Responsive */
@media (max-width: 700px) {
  .heroContainer {
    flex-direction: column;
    padding: 0;
  }

  .bodyLeft h1 {
    font-size: 29px;
  }

  .socialMedia img {
    height: 7vw;
    min-height: 35px;
  }

  .bodyRight {
    margin-top: 0%;
    margin-right: 16vw;
  }

  .bodyLeft {
    margin-top: 10%;
    margin: 2%;
  }

  .socialMedia {
    margin-left: 10vw;
  }

  .bodyRight img {
    margin: 2vw;
    height: 250px;
    width: 250px;
    border-radius: 9%;
  }

  .fixBoxSize {
    width: 90vw;
    height: auto;
  }
}
