:root {
  --arshad-color: #00ff00;
  --project-cards-border-color: rgb(23, 240, 186);
  --background: #000000;
  --foreground: #ffffff;
  --font-inter: 'Inter', system-ui, -apple-system, sans-serif;
  --font-poppins: 'Poppins', system-ui, -apple-system, sans-serif;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  background-color: #000000;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  height: auto;
  overflow-x: hidden;
  color: var(--foreground);
  font-family: var(--font-poppins), Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

html {
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}
